body{
	background: #000000;
	color: #f0f0f0;
	font-family: Arial, Helvetica, sans-serif;
}
.content{
	text-align: center;
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}