.content{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
#error{
  color: red;
}
input{
  margin-bottom: 5px;
}
